language: csharp
solution: engenious.UI.sln
before_script:
  - sudo add-apt-repository ppa:mc3man/trusty-media -y
  - sudo aptitude update
  - sudo aptitude -y -q install ffmpeg
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start || true"
  - sleep 3 # give xvfb some time to start
install:
  - nuget restore engenious.UI.sln